{{page-header title="Loans"}}
<div class="container">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <h3>Your View</h3>
        {{!-- works --}}
        {{loans/drop-down loans=loans createLoan="createLoan" selectLoan="selectLoan" selectTool="selectTool"}}

        {{!-- works --}}
        {{#unless selectedLoan}}
          <h3> Select a loan to examine or create a new one </h3>
          {{/unless}}

{{selectedLoan}}

          {{!-- works --}}
        {{#if (eq selectedLoan "new-loan")}}
          {{loan-list/create-loan-form createLoan="createLoan"}}
    {{!-- Not working --}}
        {{else}}
          <ul>
            {{#each loans as |loan|}}
              {{loan}}
              {{#if (eq selectedLoan loan)}}
              <li>{{loan-list/card loan=loan}}</li>
              {{/if}}
            {{/each}}
          </ul>
        {{/if}}
        {{!-- {{#if (eq selectloan.value "new-loan")}}
        <h1>create new</h1>
        {{else}}
        <h1>tracked loan</h1>
        {{/if}}

        {{#if selectloan}}
        <h1>Has value</h1>
        {{else}}
        <h1>no value</h1>
        {{/if}} --}}
        {{!-- {{loan-list/create-loan-form createLoan="createLoan"}} --}}
      </div>
      <div class="col-md-6">
        {{!-- <h3>{{selectloan.value}}</h3> --}}
        <h3>Tools</h3>
          {{loans/tools-drop-down loans=model createLoan="createLoan" selectedLoan=selectedLoan selectTool="selectTool"}}
      </div>
    </div>
  </div>
</div>
