{{page-header title="Loan Dashboard"}}
<div class="container-fluid">
  <div class="col-sm-3 loan-card">
    {{loan/loan-card deleteLoan="deleteLoan" loan=loan}}
    {{#link-to "loans"}}
    <button class="btn btn-standard">Back</button>
    {{/link-to}}
  </div>
  <div class="col-sm-3">
    {{#link-to 'loan-review' loan}}
    <h3>Loan Review</h3>
    {{/link-to}}
    <div class="loan-review">
    {{loan-donut-chart data=data}}
    {{tools-drop-down/card loan=loan}}
  </div>
  </div>
  <div class="col-md-6">
    <div class="row">
    <div class="col-sm-12">
      {{#link-to 'interest-vs-principal' loan}}
      <h3>Interest vs Principal</h3>
      {{/link-to}}
      {{loan-interest-chart data=line-data height=100}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{#link-to 'balance-chart' loan}}
      <h3>Balance</h3>
      {{/link-to}}
      {{loan-balance-chart data=balance-data height=100}}
    </div>
  </div>
  </div>
</div>
