{{page-header title="Loan"}}
<div class="container-fluid">
  <div class="col-sm-3 loan-card">
    <h3>Loan View</h3>
    {{#link-to "loans"}}
    back
    {{/link-to}}
    {{loan/loan-card deleteLoan="deleteLoan" loan=loan}}

  </div>
  <div class="col-sm-3">
    Loan Review
    {{loan-donut-chart data=data}}
    {{tools-drop-down/card loan=loan}}
  </div>
  <div class="col-md-6">
    <div class="row">
    <div class="col-sm-12">
      Interest vs Principal
      {{loan-interest-chart data=line-data height=100}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      Balance
      {{loan-balance-chart data=balance-data height=100}}
    </div>
  </div>
  </div>
  {{!-- <div class="col-md-12">


    <div class="row">
      <div class="col-md-6">
        <h3>Loan View</h3>
        {{#link-to "loans"}}
        back
        {{/link-to}}
        <h3>Loan: {{loan.name}}</h3>
        <h5>Lender: {{loan.lender}}</h5>
        <h5>Principal: $ {{loan.principal}}</h5>
        <h5>Interst rate: {{loan.interest_rate}}%</h5>
        <h5>Length: {{loan.loan_length}} year(s)</h5>
      </div>
      <div class="col-md-6">
        <h3>Tools</h3>
          {{loans/tools-drop-down loan=loan selectTool="selectTool" selectedTool=selectedTool data=data}}
      </div>
    </div>
  </div> --}}
</div>
