
<select class="form-control" onchange={{action 'selectLoan' value="target.value"}}>
  <option disabled selected>Choose a loan!</option>
  <option value="new-loan">Create New Loan</option>
  {{#each loans as |loan|}}
  <option value={{loan.id}}>{{loan.name}}</option>>
  {{/each}}
</select>

{{!-- {{#each loans as |loan|}}
  {{loan}}
{{/each}} --}}
{{!-- {{loans}}
{{selectedLoan}} --}}

{{!-- <h1>test</h1>
{{#each loans as |loan|}}
{{loan-list/card deleteLoan="deleteLoan"}}
{{/each}} --}}
{{!-- {{if (eq select "new-loan")}} --}}
{{!-- {{loan-list/create-loan-form createLoan="createLoan"}} --}}
