<form {{action 'updateLoan' on="submit"}}>
  {{input placeholder=loan.name value=loan.name type="text"}}
  {{input placeholder=loan.lender value=loan.lender type="text"}}
  {{input placeholder=loan.principal value=loan.principal type="number" step="0.01"}}
  {{input placeholder=loan.interest_rate value=loan.interest_rate type="number" step="0.02"}}
  {{input placeholder=loan.loan_length value=loan.loan_length type="number" step="0.01"}}
  <button type="submit">Submit</button>
</form>
{{#link-to "loans"}}Back{{/link-to}}
