{{#link-to 'loan' loan}}
<h3>{{loan.name}}</h3>
{{/link-to}}
<button {{action 'deleteLoan'}}>Delete</button>
{{#link-to 'loans-edit' loan}}
<button>Edit</button>
{{/link-to}}
<p>{{loan.lender}}</p>
<p>{{loan.interest_rate}}</p>
<p>{{loan.principal}}</p>
<p>{{loan.loan_length}}</p>
