<h5>{{loan.name}}</h5>
<button {{action 'deleteLoan'}}>Delete</button>
<button>Edit</button>
<p>{{loan.lender}}</p>
<p>{{loan.interest_rate}}</p>
<p>{{loan.principal}}</p>
<p>{{loan.loan_length}}</p>
