{{!-- {{page-header title="Balance"}}
<div class="container-fluid">
  <div class="col-sm-3 loan-card">
    {{loan/loan-card deleteLoan="deleteLoan" loan=model.loanModel}}
    {{#link-to "loans"}}
    <button class="btn btn-standard">Back</button>
    {{/link-to}}
  </div>
  <div class="col-sm-3">
    <h3>Loan Review</h3>
    <div class="loan-review">
    {{loan-donut-chart data=model.donutChart}}
    {{tools-drop-down/card loan=model.loanModel}}
  </div>
  </div>
  <div class="col-md-6">
    <div class="row">
    <div class="col-sm-12">
      <h3>Interest vs Principal</h3>
      {{loan-interest-chart data=model.interestChart height=100}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3>Balance</h3>
      {{loan-balance-chart data=model.balanceChart height=100}}
    </div>
  </div>
  </div>
</div> --}}
